In [1]:
# Set is:
#     Unordered sequence, not Indexable
#     Mutable
#     Elements need to be hashable to be added to set, and are unique

In [3]:
s = set()  # empty
print(s)

s = {1, 2.3, 'New York'}
print(s)
print(type(s))

set()
{1, 2.3, 'New York'}
<class 'set'>

In [11]:
s = {1, 2.3, 'New York'}

# add a value to the set
s.add(3.1)
print(s)

# add the same value again
s.add(1)
print(s)

# add elements of another set to this set
s = {"Sri Lanka", 2, 3, "India"}
s.update({3, "India", 5})
s.add("Alaska")
print(s)

{1, 2.3, 3.1, 'New York'}
{1, 2.3, 3.1, 'New York'}
{3}

In [15]:
s1 = {"Sri Lanka", 2, 3, "India"}
s2 = {3, "India", 5}

print(s1.union(s2))
print(s1 | s2)

print(s1.intersection(s2))
print(s1 & s2)

print(s1.difference(s2))
print(s1 - s2)

{2, 3, 5, 'India', 'Sri Lanka'}
{2, 3, 5, 'India', 'Sri Lanka'}
{'India', 3}
{'India', 3}
{'Sri Lanka', 2}
{'Sri Lanka', 2}

In [18]:
# .symmetric_difference: the symmetric difference between the sets (alternate syntax: set1 ^ set2)
# .issubset: is A a subset of B ?
# .issuperset: is A a superset of B ?

s1 = {"Sri Lanka", 2, 3, "India"}
s2 = {3, "India"}

print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))

{'Sri Lanka', 2}
False
True